* text=auto eol=lfs

/**           export-ignore
/*.c      !export-ignore
/*.txt    !export-ignore
/*.sh    !export-ignore
/.clang-format      !export-ignore
/Makefile     !export-ignore
/README.md    !export-ignore
/LICENSE    !export-ignore
